/* Use a master css spreadsheet for selectors you will use often, on many elements */

/* Use inline styles for style unique to those elements. */

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
